@model Request
@{
    ViewData["Title"] = "Send Request";
    var userId = Context.Session.GetInt32("userId");
}

<style>
    .btnsss{
        margin-bottom : 10px;
        margin-top : 10px
    }
</style>

@await Html.PartialAsync("_NavbarUser")

<div style="font-family: 'Global Sans Serif';">
    <h4 class="mb-10 about-btn mt-10">Please note that when you send a request for this offer, you will be prompted to select a date.</h4>

    <form class="mb-10" asp-action="SendRequest" asp-controller="Request" method="post">
        <input type="hidden" asp-for="OfferId" value="@Model.OfferId" />
        <input type="hidden" asp-for="UserId" value="@Model.UserId" />
        <div class="form-group">
            <label asp-for="StartTime">Start Time:</label>
            <input asp-for="StartTime" class="form-control" type="datetime-local" required />
            <span asp-validation-for="StartTime" class="text-danger"></span>
        </div>
        <div class="btnsss">
        <button type="submit" class="btn btn-alert-success">Submit Request</button>
    <a class="btn btn-secondary" asp-controller="User" asp-action="Dashboard">Back to Dashboard</a>

        </div>
    </form>

</div>
