@{
    User user = new();
    LoginUser loginUser = new();
}

@await Html.PartialAsync("_Navbar")

<div style=" padding:20px" class="container pt-5">
    <div class="row">
        <div class="col-lg-6 col-md-6 cl-sm-12">
            @await Html.PartialAsync("_Register",user)
        </div>
        <div class="col-lg-6 col-md-6 cl-sm-12">
            @await Html.PartialAsync("_Login",loginUser)
        </div>
    </div>
</div>