@{
    ViewData["Title"] = "Home Page";
}
@await Html.PartialAsync("_Navbar")

<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<div class="container-fluid">
    <div class="slider-area position-relative">
        <div class="slider-active dot-style">
            <div class="single-slider hero-overly slider-height slider-bg1 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-9 col-lg-11 col-md-11">
                            <div class="hero__caption">
                                <h1 data-animation="fadeInUp" data-delay=".2s">FLASH Wash</h1>
                                <div class="hero-details">
                                    <div class="stock-text" data-animation="fadeInUp" data-delay=".8s">
                                        <h2>& Detailing</h2>
                                        <h2>& Detailing</h2>
                                    </div>
                                    <P data-animation="fadeInUp" data-delay=".4s">
                                        Here you can find information about our car wash services, book appointments, and get in touch with us.
                                    </P>   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






