@model List<FlashWash.Models.Offer>
@await Html.PartialAsync("_NavbarWash")

<h2>Offers by Type</h2>
<table>
    <thead>
        <tr>
            <th>Title</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var offer in Model)
        {
            <tr>
                <td>@offer.Title</td>
            </tr>
        }
    </tbody>
</table>
