@model UpdateEmailWashViewModel
@await Html.PartialAsync("_NavbarWash")



<form asp-action="UpdateWashStationEmail" method="post">
    <div class="mb-3">
        <label for="Email" class="form-label" style="font-family: sans-serif;">Email</label>
        <input type="email" asp-for="Email" class="form-control" style="font-family: sans-serif; border: 1px solid #ced4da;" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-SecondPart" style="border: 1px solid black;  font-family: sans-serif; margin-top:5px ">Update Your Email </button>
</form>
