@model UpdateTelephoneWashViewModel
@await Html.PartialAsync("_NavbarWash")


<h2>Update Wash Station Telephone</h2>

<form asp-action="UpdateWashStationTelephone" method="post">
    <div class="mb-3">
        <label for="Email" class="form-label" style="font-family: sans-serif;">Email</label>
        <input type="number" asp-for="Telephone" class="form-control" style="font-family: sans-serif; border: 1px solid #ced4da;" />
        <span asp-validation-for="Telephone" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-SecondPart" style="border: 1px solid black;  font-family: sans-serif; margin-top:5px ">Update Telephone Number </button>
</form>
